<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="https://ultraq.net.nz/thymeleaf/layout">

<script>
function ConfirmDelete() {
    return confirm('Are you sure you want to delete?');
};
</script>

    <head>
        <meta charset="utf-8">

        <title>Delete Player Form</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style2.css">



        <script>

            $(document).ready(function ()
            {

                $('.toggle-btn').click(function ()
                {
                    $(this).toggleClass('active').siblings().removeClass('active');
                });

            });


        </script>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Assistant');
        </style>
    </head>

    <body style="background: #0D1829">

        <!-- This is the SideBar -->
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
                </div>
                <div class="img bg-wrap text-center py-4" style="background-image: url(/images/bg_1.jpg);">
                    <div class="user-logo">
                        <div class="img" style="background-image: url(/images/logo.jpg);"></div>
                        <h3 th:text="${login.username}"></h3>
                    </div>
                </div>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-download mr-3 notif"><small
                                    class="d-flex align-items-center justify-content-center">5</small></span> Download
                            Order File</a>
                    </li>
                    <li>
                        <a href="#"><span class="fa fa-info-circle mr-3"></span> About</a>
                    </li>
                    <li>
                        <a href="/login/"><span class="fa fa-sign-in mr-3"></span> Dashboard Login</a>
                    </li>
                    <li>
                        <a href="/userSettings/"><span class="fa fa-edit mr-3"></span> User Settings</a>
                    </li>
                    <li>
                        <a href="/register/"><span class="fa fa-id-card-o mr-3"></span> Register</a>
                    </li>
                    <li>
                        <a href="/login/signout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
                    </li>
                </ul>

            </nav>



            <!-- Page Content  -->
            <div class="tab-content">
        		<div id="itemDetailsTab" class="container-fluid tab-pane active">

        			<br>
        			<form th:action="@{/productClone/removeOrder}" th:object="${rbEntity}" method="post">
        			<div class="form-row">
        				<label>-----------> Blank Space <------------</label>
        			</div>
        			<div class="form-row">
        				<div class="form-group col-md-2" style="display:inline-block">
        					<label for="itemDetailsRbId">RB ID<span class="requiredIcon">*</span></label>
        					<input type="text" th:value="${rbId}" th:field="*{rbId}" class="form-control" name="rbId" id="rbId" autocomplete="off">
        					<div class="customListDivWidth" id="itemDetailsOrderIdSuggestionDiv"></div>
        				</div>
        				<div class="form-group col-md-2" style="display:inline-block">
        					<label for="itemDetailsRank">Rank</label>
        					<input type="text" class="form-control" th:value="${rank}" th:field="*{rank}" name="rank" id="rank" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2" style="display:inline-block">
        					<label for="itemDetailsName">Player Name</label>
        					<input type="text"  th:value="${name}" th:field="*{name}" class="form-control" name="name" id="name" autocomplete="off" >
        					<div class="customListDivWidth" id="itemDetailsOrderSuggestionDiv"></div>
        				</div>
        				<div class="form-group col-md-2" style="display:inline-block">
        					<label for="itemDetailsTeam">Team Name</label>
        					<input type="text"  th:value="${team}" th:field="*{team}" class="form-control" name="team" id="team" autocomplete="off">
        					<div class="customListDivWidth" id="itemDetailsCustomerSuggestionDiv"></div>
        				</div>      			
        				<div class="form-group col-md-2" style="display:inline-block">
        					<label for="itemDetailsByeWeek">Bye Week</label>
        					<input type="text" class="form-control" th:value="${byeWeek}" th:field="*{byeWeek}" name="byeWeek" id="byeWeek" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2">
        					<label for="itemDetailsPoints">Total Points</label>
        					<input type="text" class="form-control" name="points" th:value="${points}" th:field="*{points}" id="points" autocomplete="off">
        				</div>        				
        				
        			</div>
        			<div class="form-row">
        				<div class="form-group col-md-2">
        					<label for="itemDetailsRushAttempts">Rush Attempts</label>
        					<input type="text" class="form-control" name="rushAttempts" id="rushAttempts" th:value="${rushAttempts}" th:field="*{rushAttempts}"  autocomplete="off">
        				</div> 				
        				<div class="form-group col-md-2">
        					<label for="itemDetailsRushYards">Rush Yards</label>
        					<input type="text" class="form-control" name="rushYards"  th:value="${rushYards}" th:field="*{rushYards}" id="rushYards" autocomplete="off">
        				</div>     				
        				<div class="form-group col-md-2">
        					<label for="itemDetailsRushTds">Rush TDs</label>
        					<input type="text" class="form-control" name="rushTds"  th:value="${rushTds}" th:field="*{rushTds}" id="rushTds" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2">
        					<label for="itemDetailsReceptions">Receptions</label>
        					<input type="text" class="form-control" name="receptions"  th:value="${receptions}" th:field="*{receptions}" id="receptions" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2">
        					<label for="itemDetailsRecYards">Rec Yards</label>
        					<input type="text" class="form-control" name="recYards"  th:value="${recYards}" th:field="*{recYards}" id="recYards" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2">
        					<label for="itemDetailsRecTds">Rec Tds</label>
        					<input type="text" class="form-control" name="recTds"  th:value="${recTds}" th:field="*{recTds}" id="recTds" autocomplete="off">
        				</div>    
        			</div>
        			<div class="form-row">
        				<div class="form-group col-md-2">
        					<label for="itemDetailsFirstDowns">First Downs</label>
        					<input type="text" class="form-control" name="firstDowns"  th:value="${firstDowns}" th:field="*{firstDowns}" id="firstDowns" autocomplete="off">
        				</div>  
        				<div class="form-group col-md-2">
        					<label for="itemDetailsHundredYardGame">100-199 Yard Games</label>
        					<input type="text" class="form-control" name="hundredYardGame"  th:value="${hundredYardGame}" th:field="*{hundredYardGame}" id="hundredYardGame" autocomplete="off">
        				</div> 
        				<div class="form-group col-md-2">
        					<label for="itemDetailsTwoHundredYardGame">200+ Yard Games</label>
        					<input type="text" class="form-control" name="twoHundredYardGame"  th:value="${twoHundredYardGame}" th:field="*{twoHundredYardGame}" id="twoHundredYardGame" autocomplete="off">
        				</div> 
        				<div class="form-group col-md-2">
        					<label for="itemDetailsFourtyYardPlay">40+ Yard Plays</label>
        					<input type="text" class="form-control" name="fourtyYardPlay"  th:value="${fourtyYardPlay}" th:field="*{fourtyYardPlay}" id="fourtyYardPlay" autocomplete="off">
        				</div> 
        				<div class="form-group col-md-2">
        					<label for="itemDetailsFourtyYardTds">40+ Yard Tds</label>
        					<input type="text" class="form-control" name="fourtyYardTds"  th:value="${fourtyYardTds}" th:field="*{fourtyYardTds}" id="fourtyYardTds" autocomplete="off">
        				</div> 
        				<div class="form-group col-md-2">
        					<label for="itemDetailsPassCompleted">Passing Completions</label>
        					<input type="text" class="form-control" name="passCompleted"  th:value="${passCompleted}" th:field="*{passCompleted}" id="passCompleted" autocomplete="off">
        				</div>       				
        			</div>
        			<div class="form-row">
        				<div class="form-group col-md-2">
        					<label for="itemDetailsPassYards">Passing Yards</label>
        					<input type="text" class="form-control" name="passYards"  th:value="${passYards}" th:field="*{passYards}" id="passYards" autocomplete="off">
        				</div> 
        				<div class="form-group col-md-2">
        					<label for="itemDetailsPassTds">Passing TDs</label>
        					<input type="text" class="form-control" name="passTds"  th:value="${passTds}" th:field="*{passTds}" id="passTds" autocomplete="off">
        				</div>   				
        				<div class="form-group col-md-2">
        					<label for="itemDetailsFumbles">Fumbles</label>
        					<input type="text" class="form-control" name="fumbles"  th:value="${fumbles}" th:field="*{fumbles}" id="fumbles" autocomplete="off">
        				</div>     				
        				<div class="form-group col-md-2">
        					<label for="itemDetailsFumblesLost">Fumbles Lost</label>
        					<input type="text" class="form-control" name="fumblesLost"  th:value="${fumblesLost}" th:field="*{fumblesLost}" id="fumblesLost" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2">
        					<label for="itemDetailsTargetShare">Target Share</label>
        					<input type="text" class="form-control" name="targetShare"  th:value="${targetShare}" th:field="*{targetShare}" id="targetShare" autocomplete="off">
        				</div>
        				<div class="form-group col-md-2">
        					<label for="itemDetailsPointsGame">Points/Game</label>
        					<input type="text" class="form-control" name="pointsGame"  th:value="${pointsGame}" th:field="*{pointsGame}" id="pointsGame" autocomplete="off">
        				</div>
        			</div>

						<input type="submit" onclick='return ConfirmDelete()'value="Delete Player" class="btn btn-success"></input>			
        		<!--  	<button onclick="window.location.href='/productClone/'" type="button" id="addItem" class="btn btn-success" >Add Item</button> -->

        			</form>
        		
       			</div>
        		
        	</div>

        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <!-- SideBar End -->


    </body>

</html>